.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.border {
  border: 2px solid gray;
  background-color: rgb(88, 88, 88);
}
.calculator {
  margin: 5px;
  background-color: rgb(161, 161, 161);
  padding: 20px;
  border-radius: 10px;
}
button {
  width: 60px;
  height: 60px;
  margin: 10px;
  font-size: 20px;
  border: 0;
  outline: 0;
}

#equal {
  width: 145px;
  background-color: blue;
  color: white;
}
#clear {
  color: red;
}
.multiply {
  color: blue;
}
.divide {
  color: blue;
}
.add {
  color: blue;
}
.sub {
  color: blue;
}
.display {
  display: flex;
  justify-content: flex-end;
}
.display input {
  flex: 1;
  height: 70px;
}
.display input {
  font-size: 25px;
}
